
<vc:caption></vc:caption>
<!--// Hero Banner End //-->
<!--// About Me Start //-->

<vc:info></vc:info>
<!--// Education Start //-->
<section class="education-experience pb-minus-70 section">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-7 col-sm-12">
                <h3 class="section-title">My<span>Education</span></h3>
                <hr class="section-line-border">
                <p class="section-sub-line">What I have learned and experience.</p>
            </div>
        </div>
        <div class="row justify-content-center text-center align-items-center">
            <div class="resume-tab-item col-md-6 col-lg-4 col-sm-6 col-xs-12 active">
                <div class="resume-tab-item-inner">
                    <i class="flaticon-022-learning"></i>
                    <h5>Education</h5>
                </div>
            </div>
            <div class="resume-tab-item col-md-6 col-lg-4 col-sm-6 col-xs-12">
                <div class="resume-tab-item-inner">
                    <i class="flaticon-007-thinking"></i>
                    <h5>Experience</h5>
                </div>
            </div>
        </div>
        <vc:edu-cart></vc:edu-cart>

      <vc:exp-cart></vc:exp-cart>
    </div>
</section>
<!--// Education End //-->

<vc:service></vc:service>
<vc:skill></vc:skill>

<vc:portfolio-photo></vc:portfolio-photo>
<!--//<vc:portfolio-photo></vc:portfolio-photo> //-->


<!--// My Team Start //-->
<section class="section" id="my-team">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-7 col-sm-12">
                <h3 class="section-title">My<span>Team</span></h3>
                <hr class="section-line-border">
                <p class="section-sub-line">Lorem Ipsum is simply dummy text of the printing..</p>
            </div>
        </div>
        <div class="my-team-slider owl-carousel owl-theme">
            <div class="item">
                <div class="team-card">
                    <div class="team-card-header">
                        <img src="img/team-img-1.png" alt="" class="img-fluid shadow-md">
                    </div>
                    <div class="team-card-body">
                        <div class="team-text">
                            <h5>Thomas Brown</h5>
                            <span>Web Developer</span>
                        </div>
                        <div class="social-links text-center">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="team-card">
                    <div class="team-card-header">
                        <img src="img/team-img-2.png" alt="" class="img-fluid shadow-md">
                    </div>
                    <div class="team-card-body">
                        <div class="team-text">
                            <h5>Richard Smith</h5>
                            <span>Project Manager</span>
                        </div>
                        <div class="social-links text-center">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="team-card">
                    <div class="team-card-header">
                        <img src="img/team-img-3.png" alt="" class="img-fluid shadow-md">
                    </div>
                    <div class="team-card-body">
                        <div class="team-text">
                            <h5>Harry O'Brien</h5>
                            <span>UI/UX Designer</span>
                        </div>
                        <div class="social-links text-center">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="team-card">
                    <div class="team-card-header">
                        <img src="img/team-img-4.png" alt="" class="img-fluid shadow-md">
                    </div>
                    <div class="team-card-body">
                        <div class="team-text">
                            <h5>Jacob Bolt</h5>
                            <span>UI/UX Designer</span>
                        </div>
                        <div class="social-links text-center">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--// My Team End //-->

<!--// Contact Start //-->
<section class="contact-me section" id="contact" data-scroll-index="7">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-7 col-sm-12">
                <h3 class="section-title">Contact<span>Me</span></h3>
                <hr class="section-line-border">
                <p class="section-sub-line">Please contact me if your mind has any question fitted.</p>
            </div>
        </div>
        <div class="contact-content">
            <div class="contact-form-outer">
                <div class="contact-form">
                    <div class="empty-form" style="display: none;"><span>Please Fill Required Fields</span></div>
                    <div class="email-invalid" style="display: none;"><span>Email is invalid</span></div>
                    <div class="success-form"></div>
                    <form id="contactForm" action="https://aipthemes.com/fotor_portfolio/send_mail.php">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="contact-form-group">
                                    <input type="text" class="contact-form-control" placeholder="Enter Name" name="contact_name" id="contactName">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="contact-form-group">
                                    <input type="text" class="contact-form-control" placeholder="Enter Email Address" name="contact_email" id="contactEmail">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="contact-form-group">
                                    <input type="text" class="contact-form-control" placeholder="Enter Subject" name="contact_subject" id="contactSubject">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="contact-form-group">
                                    <textarea name="contact_message" placeholder="Enter Message" id="contactMessage" class="contact-form-control" cols="30" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="contact-form-group mb-0">
                                    <button type="submit" id="contactBtn" class="default-orange-btn">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--// Contact End //-->

@section Scripts{

    <script src="~/js/particles.js"></script>
    <script src="~/js/typed.js"></script>
    <script src="~/js/plugins.js"></script>

    <script>
        var atribut = document.querySelector("#typed-text").getAttribute("dato");

        $(document).ready(function () {
            var options = {
                strings: [atribut],
                typeSpeed: 40,
                backSpeed: 40,
                loop: true
            }
            var typed = new Typed("#typed-text", options);
        });
    </script>

}



